body,
#widgets {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", Consolas, "Ubuntu Mono", monospace;
  margin: 0;
}

#widgets {
  padding: 8px;
  position: absolute;
}

widget-generic {
  font-size: 60px;
  font-family: Consolas, "Ubuntu Mono", monospace; /*! Placeholder / Test code */

  user-select: none;
}

widget-generic.widget-1 {
  color: #f00;
}
widget-generic.widget-2 {
  color: #00f;
}
widget-generic.widget-3 {
  color: #0a0;
}
widget-generic.widget-4,
widget-generic.widget-7 {
  white-space: pre;
  color: #0aa;
}
widget-generic.widget-5 {
  white-space: pre;
  padding: 0 10px;
  color: #088;
}
widget-generic.widget-8 {
  display: none;
}

widget-generic.anchored {
  position: absolute;
  --offset: 8px;
}
widget-generic.topleft {
  top: var(--offset);
  left: var(--offset);
}
widget-generic.topcenter {
  top: var(--offset);
}
widget-generic.topright {
  top: var(--offset);
  right: var(--offset);
}
widget-generic.left {
  left: var(--offset);
}
widget-generic.right {
  right: var(--offset);
}
widget-generic.bottomleft {
  bottom: var(--offset);
  left: var(--offset);
}
widget-generic.bottomcenter {
  bottom: var(--offset);
}
widget-generic.bottomright {
  bottom: var(--offset);
  right: var(--offset);
}
widget-generic.select {
  user-select: initial;
}

#control {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 500px;
  background: #fff;
  z-index: 2;
  flex-direction: column;
  padding: 8px;
  overflow-y: scroll;
  align-items: center;
  gap: 10px;
}
#addwidget {
  width: 400px;
  font-size: x-large;
  padding: 8px;
}
#widget-configs {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

widget-config {
  position: relative;
  display: flex;
  width: 450px;
  padding: 8px;
  border: 2px solid #444;
  border-radius: 6px;
  flex-direction: column;
}
widget-config > h3 {
  margin: 5px 0;
}
widget-config > button.delete {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid #444;
  background: #ddd;
}
widget-config > button.delete > img {
  height: 20px;
  width: 20px;
}
widget-config > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
widget-config > div.large {
  flex-direction: column;
  align-items: initial;
  justify-content: center;
}
widget-config > div > * {
  font-size: larger;
}
